<div class="panel panel-custom">
  <div class="panel-heading">
    <h3 class="panel-title">Antecedentes</h3>
  </div>
  <div class="panel-body">
    <p>Mediante el Decreto 1677 del 27 de junio de 1997 del Departamento Administrativo de la Función Pública fusiona el Instituto Electrónico de Idiomas a Universidad Nacional de Colombia y éste queda adscrito al Departamento de Lenguas Extranjeras. Desde este momento la aplicación de los Exámenes de Traducción e Interpretación Oficial queda a cargo del Departamento de Lenguas Extranjeras. Desde Diciembre de 1998 la Universidad Nacional de Colombia ha venido aplicando los exámenes dos veces al año.</p>
  
    <br/>

    <p>Comisión de exámenes de traducción e interpretación oficial</p>

    <br/>

    <p>El mismo año, la Facultad de Ciencias Humanas y el Departamento de Lenguas Extranjeras crean la Comisión de Exámenes de Traducción e Interpretación Oficial, integrada por tres profesores de planta de la Universidad quienes tienen la función básica de administrar el examen.</p>
  </div>
</div>