<div class="panel panel-custom">
	<div class="panel-heading">
		<h3 class="panel-title">Resultados</h3>
	</div>
	<div class="panel-body">
		<h3>Puntajes</h3>
		<p class="text-justified">El rango de la calificación va entre 0 y 50 puntos. La calificación aprobatoria mínima es de 45 puntos.</p>
		<br />
		<h3>Información</h3>
		<ul>
			<li>
				<p class="text-justify">Se publican aproximadamente dos meses después de la presentación del examen en esta misma página en el botón de calificaciones.</p>
			</li>
			<li>
				<p class="text-justify">Las personas que hayan aprobado el examen pueden reclamar el Certificado de Idoneidad con el cual pueden registrarse ante el Ministerio de Relaciones Exteriores.</p>
			</li>
			<li>
				<p class="text-justify">Una vez conocidos los resultados, los candidatos podrán solicitar revisión del examen. "Toda solicitud de revisión de examen deberá hacerse a más tardar dentro de los siete (7) días hábiles después de la publicación de los resultados, e implicará un costo equivalente a un sesenta y cinco (65%) del salario mínimo mensual vigente en el momento de la inscripción (Resolución 409 de agosto de 2008 de la Facultad de Ciencias Humanas). Los jurados se encargan de revisar el examen, y de elaborar un informe escrito en el cual explican el puntaje asignado. Éste puede variar o no.</p>
			</li>
		</ul>

		<br />

		<button type="button" class="btn btn-success">Consultar resultados</button>

		<br />
	</div>
</div>


