<!-- Description -->
<div class="panel-group">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseDesc">Descripción
          <span class="glyphicon glyphicon-minus pull-right" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseDesc" class="panel-collapse collapse in">
      <div class="panel-body">

<p class="text-justify">El principal objetivo del examen es acreditar la idoneidad en la traducción e interpretación de textos oficiales de español a una lengua extranjera y viceversa, requisito indispensable para tramitar la licencia de Traductor e Interprete oficial.
El examen consiste en la traducción e interpretación consecutiva de textos oficiales del español a una lengua extranjera y viceversa.</p>

<br />

<p class="text-justify">Cuando la Comisión de Exámenes de Traducción e Interpretación Oficial compruebe suplantación, fraude o copia, aquellos candidatos que incurran en estas faltan serán sancionados con la anulación del examen o inhabilidad para presentarlo.</p>

<br />

<p>El examen consta de:</p>

<ul>
<li>2 pruebas escritas (español - lengua extranjera y lengua extranjera - español)</li>
<li>2 pruebas orales (español - lengua extranjera y lengua extranjera - español)</li>
</ul>

<br />

<h3>Pruebas escritas</h3>

<p class="text-justify">El día del examen Usted realizará dos pruebas escritas: una prueba de la lengua B al español, y una prueba del español a la lengua B. Cada prueba consta de un texto corto completo de 1 o 2 páginas, de carácter oficial, escrito en lengua extranjera. La parte que debe traducir es un segmento de aproximadamente 200 palabras que se encuentra encerrado en un recuadro dentro del contexto (ver exámenes de prueba en http://www.extio.unal.edu.co/reg/examenprueba.php)</p>

<br />

<h3>Pruebas orales</h3>
<p class="text-justify">Una vez finalice las pruebas escritas, Usted presentará las pruebas orales: se trata de la interpretación consecutiva de dos segmentos, uno en lengua B para interpretar, frase por frase hacia el español, y uno en español, frase por frase, para realizar la interpretación hacia la lengua B. Se trata de fragmentos de diálogos, entrevistas, interrogatorios, sentencia u otro tipo de discursos de carácter oficial de aproximadamente 200 palabras, que los jurados enunciarán para que Usted realice la interpretación consecutiva (traducción oral consecutiva, segmento por segmento). Usted podrá ver el texto antes de la prueba durante un minuto para darse una idea general del contexto, pero no se trata de traducción a la vista ni de dictado. Podrá tomar nota de cifras y de nombres propios si así lo requiere.</p>

<p>Para cada lengua hay dos jurados traductores oficiales:</p>

<ul>
  <li>El jurado A es hablante nativo del español con alta competencia comunicativa en la lengua extranjera.</li>
  <li>El jurado B es hablante nativo de la lengua extranjera con alta competencia comunicativa en español.</li>
</ul>

<br />

<h3>Aplicación del examen</h3>
<ul>
  <li>9:00 a.m. a 11.00 a.m. pruebas escritas (una hora por prueba)</li>
  <li>11:00 a.m. a 3:00 p.m. pruebas orales (30 minutos por candidato, en el orden de finalización de la prueba escrita)</li>
</ul>

<br />

<h3>Criterios de evaluación</h3>

<ul>
  <li><b>Precisión (80%):</b> Se refiere básicamente a la habilidad de conservar la fidelidad al sentido del texto original.</li>
  <li><b>Naturalidad (20%):</b> Se refiere a la expresión correcta o adecuada de las ideas. Para este aspecto se tienen en cuenta:
  
    <ul>
      <li>La gramática.</li>
      <li>El uso de la lengua apropiado para el registro del documento traducido.</li>
      <li>El uso de términos especializados.</li>
    </ul>
  </li>
</ul>



      </div>
    </div>
  </div>
</div>


<!-- Key concepts -->
<div class="panel-group">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseConcepts">Conceptos fundamentales
          <span class="glyphicon glyphicon-minus pull-right" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseConcepts" class="panel-collapse collapse in">
      <div class="panel-body">

<p class="text-justify">Para el examen de traducción e interpretación oficial realizado en la Universidad Nacional de Colombia, los supuestos conceptuales establecidos a través de la Comisión de Exámenes de Traducción e Interpretación Oficial son los siguientes:</p>

<br />

<h3>Variedad lingüística estándar</h3>

<p>Teniendo en cuenta que: </p>

<ol>
  <li>Se presentan variaciones lingüísticas geolectales (de carácter geográfico), sociolectales (de carácter social), diacrónicas (de carácter cronológico) y subculturales (localismos).</li>
  <li>Se presentan variaciones que dependen de la situación particular de comunicación.</li>
  <li>Existen numerosas variantes en el uso de una lengua, la variedad estándar de una lengua es aquella que usan y comprenden los hablantes educados en todos los países o territorios donde ésta es lengua oficial. Como el ámbito de la traducción oficial requiere el manejo de un registro formal, no se aceptarán variedades de carácter coloquial. </li>
</ol>

<br />

<h3>Precisión</h3>

<p class="text-justify">La precisión en la traducción escrita u oral se refiere a la equivalencia de significado y de sentido del texto original, entendiendo por "sentido" el sistema de conceptos coherentes con un propósito comunicativo en el nivel de palabra, oración, enunciado y texto o discurso. 
</p>

<br />

<h3>Naturalidad</h3>

<p class="text-justify">La naturalidad del texto traducido se entiende como el uso de estructuras gramaticales y de variantes lingüísticas que sean de uso considerado correcto por los hablantes y escribientes de esa lengua. Un texto escrito o un discurso oral se consideran de alto nivel de naturalidad, si para producirlo</p>

<ul>
  <li>Se usan las estructuras gramaticales idiomáticas que usan los hablantes nativos</li>
  <li>Para traducir los términos no especializados se utiliza el vocabulario de la variedad estíndar.</li>
  <li>Para traducir los términos especializados se emplean los equivalentes del campo de acción específico.</li>
</ul>

<br />

<p class="text-justify">Se consideran errores de naturalidad el uso de variantes nacionales, regionales, sociales, cronológicas o culturales distintas de la estándar. </p>

      </div>
    </div>
  </div>
</div>

<!-- Evaluation criteria -->
<div class="panel-group">
  <div class="panel panel-custom">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" href="#collapseCriteria">Criterios de evaluación
          <span class="glyphicon glyphicon-minus pull-right" aria-hidden="true"></span>
        </a>
      </h4>
    </div>
    <div id="collapseCriteria" class="panel-collapse collapse in">
      <div class="panel-body">

<p class="text-justify">Para calificar los exámenes se tienen en cuenta los siguientes criterios:</p>

<br />

<ul>
  <li>Por cada error de precisión se deducirán 0.4 puntos y por cada error de naturalidad 0.1 puntos.</li>
  <li>La calificación mínima de naturalidad en cada prueba será de 0.5 puntos, considerando que todo texto o discurso tiene un ménimo de naturalidad.</li>
  <li>Si en la traducción faltan partes del texto o del diálogo queda a criterio de los jurados el número de puntos que se deducir.</li>
  <li>Cada prueba tiene un máximo de 10 puntos para el criterio de precisión y un máximo de 5 puntos para el criterio de naturalidad.</li>
  <li>El puntaje aprobatorio mínimo es de 45 puntos sobre 50 (5 puntos corresponden a 12.5 errores de precisión en las cuatro pruebas o 50 errores de naturalidad sumados de todas las pruebas, o una combinación de los dos que sume 5 puntos en total)</li>
</ul>

      </div>
    </div>
  </div>
</div>