.sliderwrapper{
	float:left;
position: relative; /*leave as is*/
overflow: hidden; /*leave as is*/
width: 400px; /*width of featured content slider*/
height: 80px;
/*border:1px #000 solid;*/
}

.sliderwrapper .contentdiv{
	float:left;
visibility: hidden; /*leave as is*/
position: relative; /*leave as is*/
left: 0;  /*leave as is*/
top: 0;  /*leave as is*/
padding:0 5px;
background: white;
width: 390px; /*width of content DIVs within slider. Total width should equal slider's inner width (390+5+5=400) */
filter:progid:DXImageTransform.Microsoft.alpha(opacity=90);
-moz-opacity: 1;
opacity: 1;
}

.content_1{
text-align:right;
height:100px;
}

.content_2{
text-align:left;
height:100px;
}

.rssItemTitle a{
font-weight:bold;
margin:2px 0;
text-decoration:none;
}

.rssItemDate{
color:#CCC;
padding:0 5px;
}

.pagination{
width: 95%; /*Width of pagination DIV. Total width should equal slider's outer width (400+10+10=420)*/
text-align: center;
background-color: #fff;
padding-top:7px;
}

.pagination a{
padding:5px 8px;
text-decoration: none;
color: #000;
background:url(images/humanas/rss_background2.gif) center no-repeat;
font-size:12px;
font-weight:bold;
}

.pagination a:hover, .pagination a.selected{
text-decoration: none;
color: #fff;
background:url(images/humanas/rss_background.gif) center no-repeat;
}
